<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>My Ideas</ion-title>
    <ion-button (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/idea">
      <ion-icon name ="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item 
      button 
      [routerLink]="['/idea',idea.id]"
      *ngFor="let idea of (ideas | async)">
      {{ idea.name }} and this is my Notes: {{idea.notes}}
    </ion-item>

  </ion-list>
</ion-content>

